RIOS_ENVIRONMENT=development
RIOS_DATABASE_URL=sqlite:///./raeburn_intelligence.db
RIOS_COMPANIES_HOUSE_API_KEY=
RIOS_COMPANIES_HOUSE_BASE_URL=https://api.company-information.service.gov.uk
RIOS_CONTRACTS_FINDER_BASE_URL=https://www.contractsfinder.service.gov.uk/Published/Notices/OCDS/Search
RIOS_FIND_A_TENDER_BASE_URL=https://www.find-tender.service.gov.uk/api/1.0/ocdsReleasePackages
RIOS_NOMIS_BASE_URL=https://www.nomisweb.co.uk/api/v01
RIOS_NOMIS_UID=
RIOS_REQUEST_TIMEOUT_SECONDS=20
